<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->

<configuration>


  <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

  <connectionStrings>
    <add name="mycon" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\DSADhh\Desktop\project\DB\Book.mdb" />
    <add name="physique_testConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\GithubProject\ASP.NET-advice\ASP.NET-advice\DB\physique_test.mdf;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
  </connectionStrings>


</configuration>
